.Text1{
    font-size: 29px;
    font-weight: 200;
    width: 231px;
    height: 38px;
    margin: 370px 1168px 521px 562px;
    position: absolute;
}

.Text2{
    font-size: 40px;
    font-weight: lighter;
    width: 596px;
    height: 51px;
    position: absolute;
    margin: 572px 986px 338px 346px;


}