colorO{
  color: #ff7143;
}
colorW{
  color: #ffffff;
}

.Logo-format{
    text-align: left;
    font-size: 49px;
    font-weight: 400;
    word-spacing: normal;
    width: 263px;
    height: 58px;
    margin-top: 69px;
    margin-left: 170px;
    position: absolute;
}
