.Text1{
    font-size: 31px;
    font-weight: 400;
    width: 231px;
    height: 38px;
    margin-top: 370px;
    margin-left: 521px;
    position: absolute;
    text-align: left;
    color: black;
}

.Text2{
    font-size: 43px;
    font-weight: 200;
    width: 596px;
    height: 51px;
    margin-top: 572px;
    margin-left: 338px;
    margin-right: 986px;
    position: absolute;
    text-align: left;
    color: black;
}

.Menu-Border{
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    width: 28.80%;
    height: 2.14%;
    margin: 22.87% auto auto 7.40%;
}

.text3{
    text-align: center;
    font-weight: 400;
    font-size: 3.5em;
    padding: 0.5em;
    color: black;
}
@media (min-width: 360px) {
    body {
        font-size: 1.0em;
    }
}

variante{
    font-weight: 500;
}

/**
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
    padding: 1rem 1rem;
    font-size: 5.4vh;
    text-align: left;
}
.navbar-custom .navbar-nav .nav-link{
    color: #fff;
    padding: 1rem 1rem;
    font-size: 27px;
    margin-top: 82px;
}
colorO.navbar-custom{
    color: #ff7143;
    font-size: 5.4vh;
}
 **/