footer{
    font-size: 0.5571em;
    background-color: #5469B1;
    letter-spacing: 1px;
    margin-bottom: 0;
}


.footer ul {
    margin-bottom: 0;
    padding: 0px;
    list-style: none;
}

.footer ul li {
    display: inline-block;
    padding: 1px;

}

li.size_2{
    color: black;
    padding: 0.5rem;
    font-size: 1.4375em

}

a.size{
    color: black;
    padding: 0.5rem;
    font-size: 2.3125em;
    text-decoration: none;
    font-weight: 200;
}

p.size{
    color: black;
    padding: 0.5rem;
    font-size: 2.3125em;
    text-decoration: none;
    font-weight: 400;
}
